 .w3-theme{color:#FAFAFA;background-color: #2196F3;}
 .w3-theme-b1{background-color: #E3F2FD; color:#FAFAFA;}
 .w3-theme-b2{background-color: #BBDEFB; color:#FAFAFA;}
 .w3-theme-b3{background-color: #90CAF9; color:#FAFAFA;}
 .w3-theme-b4{background-color: #64B5F6; color:#FAFAFA;}
 .w3-theme-b5{background-color: #42A5F5; color:#FAFAFA;}
 .w3-theme-b6{background-color: #2196F3; color:#FAFAFA;}
 .w3-theme-b7{background-color: #1E88E5; color:#FAFAFA;}
 .w3-theme-b8{background-color: #1976D2; color:#FAFAFA;}
 .w3-theme-b9{background-color: #1565C0; color:#FAFAFA;}
 .w3-theme-b10{background-color: #0D47A1;color:#FAFAFA;}
 .w3-theme-style{background-color:#CDDC39; color:#212121;}
 .w3-table-theme{background-color: #8D6E63; color:#FAFAFA;}
 .w3-thead-theme{background-color: #A1887F; color:#FAFAFA;}
